<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
      <%= "Project Zen" + (current_page.data.title ? " | " + current_page.data.title : "") %>
    </title>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "global" %>
    <%= stylesheet_link_tag bootstrap_css %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/sandstone/bootstrap.min.css" %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>

    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag  "https://code.jquery.com/jquery-2.1.3.min.js" %>
    <%= javascript_include_tag  bootstrap_js %>
  </head>

  <body class="<%= page_classes %>">

      <% navbar do %>
        <% vertical do %>
          <a class="navbar-brand" href="/">
            <img class="img-responsive" src="/images/logo.svg">
          </a>
        <% end %>
        <% horizontal do %>
          <% nav class: 'navbar-right' do %>
            <li>
              <a href="https://github.com/projectzen">
                <%= icon :github, library: :font_awesome %> Github
              </a>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
